@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Raleway:wght@400;700&display=swap");

:root {
  --secondary-color: #bdc8df;
  --text-color: #ffffff;
  --background-color: #14143c;
  --button-color: #c0c2d5;
  --light--button-color: #a48374;
  --light--secondary-color: #ebe3db;
  --light--text-color: #000;
  --light--background-color: #a48374;
  --font-family-headers: "Raleway";
  --selected-background-color: var(--background-color);
  --selected-secondary-color: var(--secondary-color);
  --selected-text-color: var(--text-color);
  --selected-button-color: var(--button-color);
}

body {
  position: relative;
  height: 100vh;
  font-size: 16px;
  line-height: 1.6;
  color: var(--selected-text-color);
  min-width: 330px;
  font-family: var(--font-family-headers), sans-serif;
}

h1, h2, h3 {
  font-family: var(--font-family-headers), sans-serif;
  font-weight: 700;
  color: #000;
}

p {
  font-weight: 400;
  color: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: linear-gradient(to bottom, var(--selected-background-color), var(--selected-secondary-color));
}

.page__title {
  color: var(--selected-text-color);
  margin-top: 40px;
  border-top: 2px solid var(--selected-text-color);
  padding : 30px 0;
}

.magic-dots.slick-dots li.slick-active button:before {
  color: var(--selected-button-color) !important;
}

.slide-in {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.slide-in.visible {
  opacity: 1;
  transform: translateX(0);
}
