@import "App.scss";

.contact__form {
  color: var(--text-color);
  font-family: var(--font-family-headers), sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__label {
    margin: 10px 0px;
    width: calc(100% / 2);
  }

  &__input {
    width: calc(100% / 2);
    height: 100%;
    &:not(:nth-child(6)){
      height: 50px;
    }
  }

  &__send {
    cursor: pointer;
    margin-top: 20px;
    width: 10%;
    align-self: center;
    border-radius: 20px;
    .small & {
      width: 50%;
    }

    .medium & {
      width: 30%;
    }

    &:hover {
      background: #ced2da;
    }
  }
}
