@import "App.scss";

.projects {
  position: relative;
  font-family: var(--font-family-headers), sans-serif;

  &__items {
    list-style: none;
    display: inline-flex !important;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-bottom: 15px;
    transition:
      transform 250ms,
      opacity 400ms;
    &:hover {
      transform: scale(1.09);
    }

    &__images {
      min-width: 110px;
      max-width: 150px;
      height: 200px;
    }

    &__titles {
      color: var(--selected-text-color);
      font-weight: 300;
    }
  }
}

.nav-btn {
  margin-top: calc(100% / 10);
  position: absolute;
  border: none;
  background: transparent;
  font-weight: 900;
  color: var(--selected-button-color);
  font-size: 1.5rem;
  padding: 10px 15px;
  cursor: pointer;
  &:first-child {
    left: 10px;
  }
  &:last-child {
    right: 10px;
  }

  .extra & {
    display: none;
  }
}

.project-detail-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

.project-detail-content {
  position: relative;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  background: var(--selected-secondary-color);
  color: var(--selected-text-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .small & {
    scale: 0.65;
  }

  &__items {
    margin-top: 20px;

    &-title {
      padding-bottom: 20px;
    }

    &-para{
      margin-bottom: 20px;
    }
  }
}

.project-detail {
  &-para {
    margin-top: 10px;
    text-align: justify;
    &:before {
      content: "- ";
    }
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}
