@import "App.scss";

.projects {
  position: relative;
  font-family: var(--font-family-headers), sans-serif;

  &__items {
    list-style: none;
    display: inline-flex !important;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-bottom: 15px;
    transition:
      transform 250ms,
      opacity 400ms;
    &:hover {
      transform: scale(1.09);
    }

    &__images {
      min-width: 110px;
      max-width: 150px;
      height: 200px;
    }

    &__titles {
      color: var(--selected-text-color);
      font-weight: 300;
    }
  }
}

.nav-btn {
  margin-top: calc(100% / 10);
  position: absolute;
  border: none;
  background: transparent;
  font-weight: 900;
  color: var(--selected-button-color);
  font-size: 1.5rem;
  padding: 10px 15px;
  cursor: pointer;
  &:first-child {
    left: 10px;
  }
  &:last-child {
    right: 10px;
  }

  .extra & {
    display: none;
  }
}
