.socials {
  position: relative;
  font-family: var(--font-family-headers), sans-serif;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  &__items {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0 30px;

    transition:
            transform 250ms,
            opacity 400ms;

    &__images {
      min-width: 50px;
      max-width: 90px;
      margin-bottom:10px;
      clip-path: circle();
      &:hover {
        scale: 1.01;
      }

      .small & {
        width: 60px;
      }
    }

    &__links {
      text-decoration: none;
      &:visited{
        color: var(--selected-text-color);
      }
      &:link{
        color: var(--selected-text-color);
      }
    }

    &__titles {
      color: var(--text-color);
      text-align: center;
      font-weight: 300;
    }
  }
}