.socials {
  position: relative;
  font-family: var(--font-family-headers), sans-serif;

  &__container {
    display: flex;
    flex-direction: row;
    width: calc(100% - 80px);
    max-width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
  }

  &__items {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    transition:
            transform 250ms,
            opacity 400ms;

    &__images {
      min-width: 110px;
      max-width: 150px;
      height: 200px;
      padding: 0.4rem;
      &:hover {
        border: var(--text-color) 1px solid;
      }
    }

    &__links {
      text-decoration: none;
      &:visited{
        color: var(--text-color);
      }
      &:link{
        color: var(--text-color);
      }
    }

    &__titles {
      color: var(--text-color);
    }
  }
}